root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4

[*.{gradle,java,kotlin}]
ij_continuation_indent_size = 8
ij_java_imports_layout = $*, |, java.**, |, javax.**, |, *, |, cuchaz.enigma.**
ij_java_class_count_to_use_import_on_demand = 999

[*.{yml,yaml}]
indent_style = space
indent_size = 2
