# Gradle
.gradle

# Eclipse
.checkstyle
.classpath
.eclipse
.metadata
.settings
.project
*.launch

# Intellij Idea
.factorypath
.idea
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Fleet
.fleet/

# Build artifacts
bin/
build/
jars/
out/
classes/

# Debug artifacts
run
*.log

# Windows
*.db
$RECYCLE.BIN/

# Mac
.DS_Store

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
