name: Build
on: [ push, pull_request ]
jobs:
  build:
    strategy:
      matrix:
        java: [ 17-jdk, 19-jdk ]
    runs-on: ubuntu-22.04
    container:
      image: openjdk:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v3
      - run: ./gradlew build --stacktrace --warning-mode fail
      - uses: Juuxel/publish-checkstyle-report@v1
        if: ${{ failure() }}
        with:
          reports: |
            **/build/reports/checkstyle/*.xml
